.input-conteo{
    background-color: white;
    border: none;
    border-radius: 3px;
    color: rgb(80, 80, 80) ;
}
.contenido{
    margin: 45px;
    padding: 15px;
    border-radius: 12px;
    background-color: rgb(238, 238, 238);

}
.contenido_tabla{
padding: 9px;
margin-top: 5px;
}

.conteo-gral{
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: center;
}
.conteo-gral input{
    width: 60px;
    height: 35px;
}
.conteo-gral label{
    margin-left: 25px;
}